body {
    background-color: skyblue;
}

h1 {
    text-align: center;
    font-family: cursive;
}

input {
    margin-left: 10px;
    border: 2px solid black;
    width: 20%;
    padding: 10px;
    

}

table {
    margin: 20px auto;
    border: 5px solid black;
}

td {
    width: 10%;
    font-size: 20px;
}

thead th a {
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

table, tr, th, td {
    border: 5px solid black;
    border-collapse: collapse ;
}

a.ascending::after {
    content: "\25B2";
}

a.descending::after {
    content: "\25BC";
}

a.no-sort::after {
    content: "";
}